/* Navbar.css page */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.navbar {
    display: flex;
    align-items: center;
    justify-content: center; /* Add this line */

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

li {
    float: left;
}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}